

<!-- ------------*---------------
   Section Name: Footer Area
   Sub section : Top footer
   Created by: Meshu Debnath
   -------------*--------------
-->

<div class="container-fluid footerWrapper">
  <div class="container">

    <div class="row topFooter">
      <div class="col-sm-4 ">
        <div class="topFooterItem">
          <div class="leftImg"></div>
          <div class="rightImg">
            <h5>#1 Fundraising Platform</h5>
            <p>People have raised more money on CrowdFunding <sup>TM</sup> than anywhere else.</p>
            <a href="#">How It Works</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4 ">
        <div class="topFooterItem">
          <div class="leftImg"></div>
          <div class="rightImg">
            <h5>MoneyBack Guarantee</h5>
            <p>Your donation is protected. If anything is not right, we’ll give you a full refund. </p>
            <a href="#">Lear More</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4 ">
        <div class="topFooterItem">
          <div class="leftImg"></div>
          <div class="rightImg">
            <h5>5-Minute Support</h5>
            <p>Contact us with your questions and we'll reply in 5 minutes—24/7. </p>
            <a href="#">Get Help</a>
          </div>
        </div>
      </div>
    </div> <!-- end of row -->

    <div class="row middleFooter">
      <div class="col-sm-4">
        <div class="searchFooter">
          <img src="assets/img/logo.jpg" alt="" class="img-responsive">

          <form action="" class="form">
            <select class="form-control">
              <option value="volvo">English</option>
              <option value="saab">Bengali</option>
              <option value="opel">Hindi</option>
              <option value="audi">Arabic</option>
            </select>
          </form>

        </div>
      </div>

      <div class="col-sm-2 middleFooterItem">
        <h4>Get Started</h4>

        <ul class="list-group list-unstyled">

          <li class=""><a href="">How It Works</a></li>
          <li class=""><a href="">Pricing and Fees</a></li>
          <li class=""><a href="">Common Questions</a></li>
          <li class=""><a href="">Success Stories</a></li>
          <li class=""><a href="">Sign Up Now</a></li>

        </ul>
      </div>

      <!-- top categorys -->
      <div class="col-sm-2 middleFooterItem">
        <h4>Get Started</h4>

        <ul class="list-group list-unstyled">

          <li class=""><a href="">How It Works</a></li>
          <li class=""><a href="">Pricing and Fees</a></li>
          <li class=""><a href="">Common Questions</a></li>
          <li class=""><a href="">Success Stories</a></li>
          <li class=""><a href="">Sign Up Now</a></li>

        </ul>
      </div>


      <!--Learn more-->
      <div class="col-sm-2 middleFooterItem">
        <h4>Get Started</h4>

        <ul class="list-group list-unstyled">

          <li class=""><a href="">How It Works</a></li>
          <li class=""><a href="">Pricing and Fees</a></li>
          <li class=""><a href="">Common Questions</a></li>
          <li class=""><a href="">Success Stories</a></li>
          <li class=""><a href="">Sign Up Now</a></li>

        </ul>
      </div>


      <!-- get supported -->
      <div class="col-sm-2 middleFooterItem">
        <h4>Get Started</h4>

        <ul class="list-group list-unstyled">

          <li class=""><a href="">How It Works</a></li>
          <li class=""><a href="">Pricing and Fees</a></li>
          <li class=""><a href="">Common Questions</a></li>
          <li class=""><a href="">Success Stories</a></li>
          <li class=""><a href="">Sign Up Now</a></li>

        </ul>
      </div>
    </div>   <!-- end of middle footer -->

    <hr>
    <!-- copyright footer -->
    <div class="row">
      <div class="copyright text-center">
        <p> &copy; 2017 <a href="#" class="text-success">CrowdFunding<sup>TM </sup> </a> &nbsp; Bangladesh Limited || All Rights Reserved</p>
      </div>
      <br><br>
    </div>
  </div> <!-- end of container -->
</div> <!-- end of container fluid footerWrapper-->

