<div class="container-fluid">
    <div class="container">
        <div class="row like_div">
            <div class="col-sm-7">
                <div class="left_part thumbnail">
                    <div class="left_part_header">
                        <img src="assets/img/img1.jpg" class="assets/img-responsive">
                    </div>
                    <div class="left_part_body">
                        <h1>Reuben's Fight</h1>
                        <div class="hr_tag_color">

                        </div>
                        <div class="body_tab">
                            <ul class="nav nav-tabs">
                                <li class="active story"><a data-toggle="tab" href="#story">Story</a></li>
                                <li class="update"><a data-toggle="tab" href="#update">Update</a></li>
                            </ul>

                            <div class="tab-content">
                                <div id="story" class="tab-pane fade in active">
                                    <p>Thank you so much for visiting Reuben's page. </p>
                                    <br>
                                    <br>
                                    <p>I always struggled to watch adverts on TV about families being told their loved
                                        ones had cancer. Never really knowing how it must feel to hear those words; but
                                        now
                                        Thank you so much for your support.</p>
                                    <p>n 100 children in the U.K. each year.
                                        As tests promptly started each piece of news seemed more devastating. I still
                                        find it hard to see Reuben's name on paperwork next to the words: stage 4, high
                                        risk, metastatic neuroblastoma. As in 50% of cases of this aggressive type of
                                        cancer, his primary tumour was found in his abdomen but had already spread to
                                        bones and bone marrow before we had any idea.
                                    </p>
                                    <p>n 100 children in the U.K. each year.
                                        As tests promptly started each piece of news seemed more devastating. I still
                                        find it hard to see Reuben's name on paperwork next to the words: stage 4, high
                                        risk, metastatic neuroblastoma. As in 50% of cases of this aggressive type of
                                        cancer, his primary tumour was found in his abdomen but had already spread to
                                        bones and bone marrow before we had any idea.
                                    </p>
                                    <p>n 100 children in the U.K. each year.
                                        As tests promptly started each piece of news seemed more devastating. I still
                                        find it hard to see Reuben's name on paperwork next to the words: stage 4, high
                                        risk, metastatic neuroblastoma. As in 50% of cases of this aggressive type of
                                        cancer, his primary tumour was found in his abdomen but had already spread to
                                        bones and bone marrow before we had any idea.
                                    </p>
                                    <p>n 100 children in the U.K. each year.
                                        As tests promptly started each piece of news seemed more devastating. I still
                                        find it hard to see Reuben's name on paperwork next to the words: stage 4, high
                                        risk, metastatic neuroblastoma. As in 50% of cases of this aggressive type of
                                        cancer, his primary tumour was found in his abdomen but had already spread to
                                        bones and bone marrow before we had any idea.
                                    </p>
                                    <p>n 100 children in the U.K. each year.
                                        As tests promptly started each piece of news seemed more devastating. I still
                                        find it hard to see Reuben's name on paperwork next to the words: stage 4, high
                                        risk, metastatic neuroblastoma. As in 50% of cases of this aggressive type of
                                        cancer, his primary tumour was found in his abdomen but had already spread to
                                        bones and bone marrow before we had any idea.
                                    </p>
                                </div>
                                <div id="update" class="tab-pane fade">
                                    <h3>Update</h3>
                                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                        aliquip ex ea commodo consequat.</p>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="right_part_header thumbnail">
                    <h2><strong>£183,245</strong><span>of £250k goal</span></h2>
                    <div id="myProgress">
                        <div id="myBar"></div>
                    </div>
                    <p>Raised by 3,078 people in 6 months</p>
                    <button class="btn">Donate Now</button>
                </div>
                <div class="right_part_body">
                    <p class="date_right">Created January 27, 2017</p>
                    <div class="contact_whole_part">
                        <div class="thumbnail rf">
                            <span>RF</span>
                        </div>
                        <div class="right_part_body_contact">
                            <span class="right_part_body_contact_name">Reuben's Fight<a href="#"><i
                                    class="fa fa-envelope"></i></a></span><br>
                            <span class="right_part_body_contact_medical"><a href="#"><i class="fa fa-tag"></i></a>Medical</span><br>
                            <span class="right_part_body_contact_map"><a href="#"><i class="fa fa-map-marker"></i></a>Furze Platt Ward, ENG </span>

                        </div>

                    </div>
                </div>
                <div class="top_supports">
                    <p>Top Supports</p>
                </div>
                <div class="first_donor">
                    <p>First Donor</p>
                    <div class="contact_whole_part">
                        <img class="rf" src="assets/img/img2.jpg">
                        <div class="first_donor_content">
                            <span class="right_part_body_contact_name">Stefanie Treleaven-Ford</span><br>
                            <span class="right_part_body_contact_medical">£10 </span><br>

                        </div>

                    </div>
                </div>
                <div class="first_donor">
                    <p>Most Raised From Sharing</p>
                    <div class="contact_whole_part">
                        <img class="rf" src="assets/img/img2.jpg">
                        <div class="first_donor_content">
                            <span class="right_part_body_contact_name">Beth Owen</span><br>
                            <span class="right_part_body_contact_medical">£145 from sharing</span><br>
                        </div>
                    </div>
                    <a href="#"><i class="fa fa-plus"></i> <span class="see_more">See More</span></a>
                </div>
                <div class="top_supports">
                    <a href="#">Recent Donations <span> <i class="fa fa-caret-down"></i></span></a>
                </div>
                <div class="recent_donations">

                    <div class="contact_whole_part">
                        <img class="rf" src="assets/img/img3.jpg">
                        <div class="first_donor_content">
                            <span class="right_part_body_contact_name" style="font-weight:bold;">£350</span><br>
                            <span class="right_part_body_contact_medical">£145 from sharing</span><br>
                            <span class="right_part_body_contact_medical">43 mins ago</span><br>
                            <!-- <i class="fa fa-heart"></i> -->
                            <div class="border_recent">
                            </div>
                        </div>
                    </div>
                    <div class="contact_whole_part">
                        <img class="rf" src="assets/img/img2.jpg">
                        <div class="first_donor_content">
                            <span class="right_part_body_contact_name" style="font-weight:bold;">£110</span><br>
                            <span class="right_part_body_contact_medical">£145 from sharing</span><br>
                            <span class="right_part_body_contact_medical">23 mins ago</span><br>
                            <div class="border_recent">
                            </div>
                        </div>
                    </div>
                    <div class="contact_whole_part">
                        <img class="rf" src="assets/img/img4.jpg">
                        <div class="first_donor_content">
                            <span class="right_part_body_contact_name" style="font-weight:bold;">£325</span><br>
                            <span class="right_part_body_contact_medical">£145 from sharing</span><br>
                            <span class="right_part_body_contact_medical">12 mins ago</span><br>
                            <div class="border_recent">
                            </div>
                        </div>
                    </div>
                    <div class="contact_whole_part">
                        <img class="rf" src="assets/img/img2.jpg">
                        <div class="first_donor_content">
                            <span class="right_part_body_contact_name" style="font-weight:bold;">£120</span><br>
                            <span class="right_part_body_contact_medical">£145 from sharing</span><br>
                            <span class="right_part_body_contact_medical">50 mins ago</span><br>
                            <div class="border_recent">
                            </div>
                        </div>
                    </div>
                    <div class="contact_whole_part">
                        <img class="rf" src="assets/img/img3.jpg">
                        <div class="first_donor_content">
                            <span class="right_part_body_contact_name" style="font-weight:bold;">£333</span><br>
                            <span class="right_part_body_contact_medical">£145 from sharing</span><br>
                            <span class="right_part_body_contact_medical">42 mins ago</span><br>
                            <div class="border_recent">
                            </div>
                        </div>
                    </div>

                </div>
                <br>
                <div class="top_see_more">
                    <a href="#"><span><i class="fa fa-plus"></i> See More</span></a>
                </div>
            </div>
        </div>
    </div>
</div>

